@import "tailwindcss";

*{
  font-family: 'Inter', sans-serif;
  /* font-weight: 400; */
}

@theme {
  --color-darkgray: #262626;
  --color-gray: #BEBEBE;
  --color-white: #E8E8E8;
  --color-darkpink: #7F1146;
  --color-pink: #E470A8;
}